In [29]:
import pandas as pd

In [30]:
TWEMOJI_DATASET = './datasets/samples/combined_csv.csv'

In [31]:
twemoji = pd.read_csv(TWEMOJI_DATASET)

# Clean Up

In [46]:
# lets see how many columns 
# does the dataset have
twemoji.columns

Index(['target', 'tweet'], dtype='object')

In [34]:
# rename annotations to target
# rename id_text to tweet
twemoji = twemoji.rename(columns={"annotations":'target', "id_text":"tweet"})

In [35]:
twemoji.head()

                     id  target tweet
0    742407819496919041    1381   NaN
1    744101567981359105    1421   NaN
2    744692442033577984    1056   NaN
3  744959564504793088_q     616   NaN
4    743951261607690240    1387   NaN

In [36]:
# since the id column is no longer needed
# we can simply drop it
twemoji = twemoji.drop(columns=["id"])

In [37]:
twemoji.head()

   target tweet
0    1381   NaN
1    1421   NaN
2    1056   NaN
3     616   NaN
4    1387   NaN

In [41]:
# Lets check how many null values exist in 
# the dataset
twemoji['tweet'].isna().sum()

3878060

In [43]:
# We can't do much with null values
# So we drop them
twemoji = twemoji.dropna()

In [44]:
twemoji.head()

        target                                              tweet
358810     830              : Get that shot outta here Kyrie says
358813    1423                                          Pizza hut
358814    1426  that is so obvious, I don't know why my mind d...
358815    1111                            My bestie is so amazing
358816    1431    I don't have time for temporary ass friendships